{%extends 'base.html'%} {%block content%}
<h2>RECHERCHE</h2>
<form action="{{ form_search_url }}" method="get">
  <input type="text" name="query" placeholder="Recherche" />
  <button type="submit">Rechercher</button>
</form>

<h2>Résultats de Recherche</h2>

    {% if results %}
        <ul>
            {% for result in results %}
                <li>
                    ID: {{ result.id }}<br>
                    Nom: {{ result.name }}<br>
                    Prix: {{ result.price }}<br>
                    Lien: {{ result.link }}<br>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun résultat trouvé.</p>
    {% endif %}
 {%endblock content%}
